//

@font-face {
    font-family: "mcicon";
    src: url("./mc/font/mcicon/iconfont.eot");
    src: url("./mc/font/mcicon/iconfont.eot?#iefix") format("embedded-opentype"),
    url("./mc/font/mcicon/iconfont.woff") format("woff"),
    url("./mc/font/mcicon/iconfont.ttf") format("truetype"),
    url("./mc/font/mcicon/iconfont.svg#iconfont") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: "mcicon";
        src: url("./mc/font/mcicon/iconfont.svg#iconfont") format("svg");
    }
}

[class^="mcicon-"]:before,
[class*=" mcicon-"]:before {
    font-family: mcicon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.mcicon-icon:before { content: "\e602"; }

.mcicon-zhuanzhang:before { content: "\e603"; }

.mcicon-huilvhuansuan:before { content: "\e60d"; }

.mcicon-category:before { content: "\e699"; }

.mcicon-form:before { content: "\e6a2"; }

.mcicon-qrcode:before { content: "\e6a9"; }

.mcicon-set:before { content: "\e6ae"; }

.mcicon-account:before { content: "\e6b8"; }

.mcicon-home:before { content: "\e6d7"; }

.mcicon-jewelry:before { content: "\e6e4"; }

.mcicon-trade-assurance:before { content: "\e6e5"; }

.mcicon-dollar:before { content: "\e702"; }

.mcicon-jifen:before { content: "\e70c"; }

.mcicon-security:before { content: "\e71c"; }

.mcicon-store:before { content: "\e722"; }

.mcicon-manageorder:before { content: "\e723"; }

.mcicon-copy:before { content: "\e744"; }

.mcicon-bussinesscard:before { content: "\e753"; }

.mcicon-hot:before { content: "\e756"; }

.mcicon-data:before { content: "\e757"; }

.mcicon-trade:before { content: "\e758"; }

.mcicon-password:before { content: "\e82b"; }

.mcicon-shenfenzheng:before { content: "\e625"; }

.mcicon-faxian:before { content: "\e631"; }

.mcicon-suozi:before { content: "\e661"; }

.mcicon-anquan:before { content: "\e668"; }

.mcicon-gupiao:before { content: "\e66b"; }

.mcicon-hangqing:before { content: "\e66c"; }

.mcicon-qiandaizi:before { content: "\e674"; }

.mcicon-shezhi:before { content: "\e675"; }

.mcicon-wendang:before { content: "\e67a"; }

.mcicon-gonggao:before { content: "\e609"; }
