$m--brand-color: #ff6107 !default;
$m--brand-inverse-color: #ffffff !default;

$m--metal-color: #c4c5d6 !default;
$m--metal-inverse-color: #ffffff !default;

$m--light-color: #c4c5d6 !default;
$m--light-inverse-color: #ffffff !default;

$m--accent-color: #c4c5d6 !default;
$m--accent-inverse-color: #ffffff !default;

$m--focus-color: #9816f4 !default;
$m--focus-inverse-color: #ffffff !default;

$m--primary-color: #5867dd !default;
$m--primary-inverse-color: #ffffff !default;

$m--success-color: #34bfa3 !default;
$m--success-inverse-color: #ffffff !default;

$m--info-color: #36a3f7 !default;
$m--info-inverse-color: #ffffff !default;

$m--warning-color: #ffb822 !default;
$m--warning-inverse-color: #111111 !default;

$m--danger-color: #f4516c !default;
$m--danger-inverse-color: #ffffff !default;

//== General box shadows
$m--box-shadow-base-color: darken(#c5c2cc, 50%) !default; // purple shadow: #716ac  grey shadow: #c5c2cc

$m--body-color: #111 !default;
$m--font-color: #282a3c !default;
